<?xml version="1.0" encoding="UTF-8"?>
<launch>

   <!-- global params-->
    <arg name="robot" default="priv2"/>
   
  
    <!-- URDF description -->
    <param name="robot_description" command="$(find xacro)/xacro '$(find priv2)/src/priv2_description/urdf/priv2.xacro'"/>

   <!-- TF stuff -->
        <!-- send fake joint values -->

    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
        <param name="use_gui" value="false"/>
    </node>
        <!-- Combine joint values -->
      <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
    
        <!-- fixed odom -->
  <node pkg="tf" type="static_transform_publisher" name="static_odom_broadcaster"
        args="0 0 0 0 0 0 map odom 100"/> 
    
    <!-- run gazebo and spawn mybot  -->
   <include file="$(find priv2)/src/priv2_gazebo/launch/priv2_world.launch"/> 
    
    <!-- software -->
    <include file="$(find priv2)/src/priv2_config/launch/priv2_software.launch"/>

     <!-- visualization -->      
   <node name="rviz" pkg="rviz" type="rviz"/> 
</launch>
