<?xml version="1.0" encoding="UTF-8"?> 

<launch>
   <arg name="prefix" default=""/>

<param name="robot_description" command="$(find xacro)/xacro '$(find priv2m)/priv2_description/urdf/priv2.xacro' prefix:=$(arg prefix)"/>

<param name="robot_prefix" command="$(find xacro)/xacro '$(find priv2m)/priv2_description/urdf/priv2.gazebo.xacro' prefix:=$(arg prefix)"/>
	
	<arg name="robot_name"/>
    	<arg name="init_pose"/>	
	<node name="priv2_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
   args="$(arg init_pose) -urdf -param robot_description -model $(arg robot_name)" />
   	

 	<!-- Combine joint values -->
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen"/>

</launch>
