<?xml version="1.0" encoding="UTF-8"?>
<launch>
     
    	<!-- PARAMS AMCL, move_base for ROBOT1  -->
    
   <group ns="robot1">
   	<param name="tf_prefix" value="robot1" />
     	<param name="amcl/initial_pose_x" value="0" />
     	<param name="amcl/initial_pose_y" value="0" />
     	<include file="$(find priv2m)/priv2_2dnav/launch/move_base_1.launch" />
     	<include file="$(find priv2m)/priv2_2dnav/launch/amcl_1.launch" />
   </group>
   
   	<!-- PARAMS AMCL, move_base for ROBOT1  -->
   	
   <group ns="robot2">
   	<param name="tf_prefix" value="robot2" />
     	<param name="amcl/initial_pose_x" value="-1" />
    	<param name="amcl/initial_pose_y" value="0" />
   	<include file="$(find priv2m)/priv2_2dnav/launch/move_base_2.launch" />
   	<include file="$(find priv2m)/priv2_2dnav/launch/amcl_2.launch" />
   </group>
    
    
</launch>
