<?xml version="1.0" encoding="UTF-8"?>
<launch>

    
    <!-- run gazebo and spawn mybot -->
    <include file="$(find priv2m)/priv2_gazebo/launch/priv2_world.launch"/> 
     <include file="$(find priv2m)/priv2_config/launch/robots.launch"/>   
     
     
    
    <!-- software-->
    <include file="$(find priv2m)/priv2_config/launch/priv2_software.launch"> 
    </include>

     <!-- visualization      -->      
   <node name="rviz" pkg="rviz" type="rviz" args="-d $(find priv2m)/priv2_config/rviz/robot1.rviz" /> 
</launch>
