<?xml version="1.0" encoding="UTF-8"?>
<launch>

   
     <!-- Run the map server  -->        
    <node  name="map_server" pkg="map_server" type="map_server" args="$(find priv2m)/priv2_2dnav/maps/map.yaml">
    <param name="frame_id" value="map"/>
    </node> 
   
    
    <!-- run gazebo and spawn mybot -->
    <include file="$(find priv2m)/priv2_gazebo/launch/priv2_world.launch"/> 
     <include file="$(find priv2m)/priv2_config/launch/robots.launch"/>   
     
     
    
    <!-- software-->
    <include file="$(find priv2m)/priv2_config/launch/priv2_software.launch"> 
    </include>

     <!-- visualization      -->      
   <node name="rviz" pkg="rviz" type="rviz" args="-d $(find priv2m)/priv2_config/rviz/robot1.rviz" /> 
</launch>
