<?xml version="1.0" encoding="UTF-8"?>
<launch>

    <!-- global params-->
    <arg name="localization_type" default="AMCL"/>
    <!-- Possible variants
        FIXED_ODOM   
        AMCL
        GMAPPING
    -->
    <arg name="map" default="map"/>
    <!-- Possible maps 
        nothing
        my_map
    -->
   
    <!-- URDF description -->
    <param name="robot_description" command="$(find xacro)/xacro '$(find priv2)/priv2_description/urdf/priv2.xacro'"/>

    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
        <param name="use_gui" value="false"/>
    </node>
        <!-- Combine joint values -->
      <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
    
    
    <!-- run gazebo and spawn mybot -->
   <include file="$(find priv2)/priv2_gazebo/launch/priv2_world.launch"/> 
    
    <!-- software-->
    <include file="$(find priv2)/priv2_config/launch/priv2_software.launch"> 
<arg name="localization_type" value="$(arg localization_type)"/>
        <arg name="map" value="$(arg map)"/>
	</include>

     <!-- visualization -->      
   <node name="rviz" pkg="rviz" type="rviz" args="-d $(find priv2)/priv2_config/rviz/priv2_rviz.rviz"/> 
</launch>
