<?xml version="1.0" encoding="UTF-8"?> 

<launch>

  <param name="/use_sim_time" value="true" />

  <!-- start world -->
  <include file="$(find try2)/gazebo/launch/priv2_world.launch"/> 

  <!-- include our robots -->
  <include file="$(find try2)/launch/robots.launch"/>

  <!-- navigation -->
  <include file="$(find try2)/launch/navigation.launch"/>

</launch>
